<!DOCTYPE html>
<html><head>
  <meta charset="utf-8"><title>Apply</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head><body>
  <a class="back" href="{{ url_for('home') }}">← Back Home</a>
  <h1>Application Form</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">{% for cat,msg in messages %}<li class="{{cat}}">{{msg}}</li>{% endfor %}</ul>
    {% endif %}
  {% endwith %}

  <form method="post" class="form-card">
    <label>Full Name</label>
    <input name="fullname" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Phone</label>
    <input name="phone" required>

    <label>Choose Course</label>
    <select name="course_id" required>
      {% for c in courses %}
        <option value="{{ c['id'] }}">{{ c['title'] }}</option>
      {% endfor %}
    </select>

    <label>Create Password</label>
    <input type="password" name="password" required>

    <button class="btn" type="submit">Submit & Continue</button>
  </form>
</body></html>